
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Карты</h3>
        <table>
            <tr>
                <td><p><a href="/Admin/AddPatient/">Ввод пациента</a></p></td>
                <td><p><a href="/Admin/AddDoctor/">Ввод врача</a></p></td>
                <td><p><a href="/Admin/AddUser/">Ввод пользователя</a></p></td>
            </tr>

            <tr>
                <td><p><a href="/Admin/RemovePatient/">Удаление пациента</a></p></td>
                <td><p><a href="/Admin/RemoveDoctor/">Удаление врача</a></p></td>
                <td><p><a href="/Admin/RemoveUser/">Удаление пользователя</a></p></td>
            </tr>

        </table>
    </div>
</body>
</html>
