
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDoctor</title>
</head>
<body>
    <div>
        <h3>Форма удаления пользователя</h3>
        <form method="post" action="">

            <table>
                <tr>
                    <td><p>Введите email пользователя</p></td>
                    <td><input type="text" name="Email" /> </td>
                </tr>
                <tr>
                    <td><p>Введите пароль пользователя</p></td>
                    <td>
                        <input type="text" name="Password" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите роль пользователя </p></td>
                    <td><input type="text" name="Role" /> </td>
                </tr>


                <tr><td><input type="submit" value="Удалить" /> </td><td></td></tr>

            </table>
        </form>
    </div>
</body>
</html>
