@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Хранилище электронных карт</title>
</head>
<body>
    <div>
        <h3>Карты</h3>
        <table>              
            <tr>                    
                <td><p><a href="/Home/AddPatient/">Войти</a></p></td>
            </tr>               
            </table>
        </div>
    </body>
    </html>
