
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beginning</title>
</head>
<body>
    <div>
        <h3>Карты</h3>
        <table>
            <tr>
                <td><p><a href="/Account/Login/">Вход</a></p></td>
            </tr>

            <tr>
                <td><p><a href="/Account/Register/">Регистрация</a></p></td>
            </tr>

        </table>
    </div>
</body>
</html>


