
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Patient</title>
</head>
<body>
    <div>
        <h3>Форма ввода данных о пациенте</h3>
        <form method="post" action="">
            
            <table>
                <tr>
                    <td><p>Введите имя пациента</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите фамилию пациента:</p></td>
                    <td>
                        <input type="text" name="Surname" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите отчество пациента </p></td>
                    <td><input type="text" name="Patronymic" /> </td>
                </tr>
                <tr>
                    <td><p>Введите дату рождения пациента:</p></td>
                    <td>
                        <input type="text" name="BirthDate" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите телефон пациента:</p></td>
                    <td>
                        <input type="text" name="Telephone" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите место работы пациента:</p></td>
                    <td>
                        <input type="text" name="WorkPlace" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите дату записи:</p></td>
                    <td>
                        <input type="text" name="RecordDate" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите диагноз:</p></td>
                    <td>
                        <input type="text" name="Diagnose" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите лекарство(процедуры):</p></td>
                    <td>
                        <input type="text" name="Medicine" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите способ применения лекарств(процедур):</p></td>
                    <td>
                        <input type="text" name="WayOfUsingMedicine" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите номер доктора:</p></td>
                    <td>
                        <input type="text" name="DoctorId" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите номер больничного листа:</p></td>
                    <td>
                        <input type="text" name="SickLeaveNum" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите период действия больничного листа:</p></td>
                    <td>
                        <input type="text" name="SickLeavePeriod" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите код диагноза:</p></td>
                    <td>
                        <input type="text" name="DiagnoseCode" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>

            </table>
        </form>
    </div>

</body>
</html>
