@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Хранилище электронных карт</title>
</head>
<body>
    <div>
     
        <table>
            <tr>
                <td><p><a href="/User/DisplayPatients/">Просмотр  пациентов</a></p></td>
                <td><p><a href="/User/SearchForPatientsByRecordingDate/">Поиск пациентов по дате записи</a></p></td>
                <td><p><a href="/User/SearchForPatientsByDiagnose/">Поиск пациентов по диагнозу</a></p></td>
                <td><p><a href="/User/SearchForDoctorsByPosition/">Поиск врачей по должностям</a></p></td>
            </tr>

            

        </table>
    </div>
</body>
</html>
